---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
</style>
	</head>
	<body>
		<Header />
		<main>
			<h1 style="font-weight:700"> THE ITALIAN MECHANICAL KEYBOARD MEETUP </h1>
		</main>
		<div class="section">
			<img src="/public/ichnusa.png" alt="birra">
			<img src="/public/meetup1.jpeg" alt="culo">
			<div class="empty-white">
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem, iste repudiandae repellendus dignissimos odit architecto aliquid illum veniam nisi ullam illo itaque commodi omnis. Amet impedit nisi quod nesciunt nihil.</p>
			</div>
		</div>
		<div class="section-black">
			<h4 style="color:white; font-weight:400;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt delectus, iste natus ipsam dolore quia fugit neque recusandae odio impedit incidunt ab voluptas temporibus officia nam id repellendus dolores sed.</h4>
		</div>
		<div class="section">
			<img src="/public/ichnusa.png" alt="birra">
			<div class="empty-white">
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem, iste repudiandae repellendus dignissimos odit architecto aliquid illum veniam nisi ullam illo itaque commodi omnis. Amet impedit nisi quod nesciunt nihil.</p>
			</div>
			<img src="/public/meetup1.jpeg" alt="culo">
			
		</div>
		
		<Footer />
	</body>
</html>
