---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} MKIT. All rights reserved.</br>
	Made with ❤️ and supported by <a href="https://khor.dev">Khor</a>.
	
</footer>
<style>
	footer {float: left;
		width: 100%;
		font-size: 14px;
		padding: 2em 1em 2em 1em;
		background: #101010;
		color: #AAA;
		text-align: center;
	}
	a {
		text-decoration: none;
		color: #AAA;
		font-weight: 700;
	}
	a:hover{
		color: #FFF;
	}

</style>
